$primary: #004de6;
$secondary: #ff9900;



.info {
  color: black;
  text-align: center;
  font-family: sans-serif;
  font-size: 18px
}
.tempInfo {
  color: black;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  margin-bottom: 20px
}
.details {
  padding-bottom: 10px;
  color: #80aaff;
  text-align: center;
  font-family: sans-serif;
  font-size: 11px
}
.secondaryDetails {
  padding-bottom: 10px;
  color: $secondary;
  text-align: center;
  font-family: sans-serif;
  font-size: 11px
}
.primaryDetails {
  padding-bottom: 10px;
  color: $primary;
  text-align: center;
  font-family: sans-serif;
  font-size: 11px
}
.liveData {
  color: black;
  font-size: 11px
}
.spotInfo {
  margin-bottom: 10px;
}